<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="about mt-5">
      <div class="about-text">
        <h2>トレーニングメニュー</h2>
        <p>
          筋肉を大きくする為には睡眠、食事、トレーニングの三代要素がありますが、<br>その中でも日々のトレーニングでどれだけ自分を追い込むかで成長速度が変わってきます。<br>
          ここではおすすめのトレーニングメニュー３選を紹介します。
        </p>
      </div>
    </div>
  </div>
  <section id="intro">
  <h2 class="intro-title pb-3">トレーニングメニュー３選</h2>
  <div class="row justify-content-center">
    <div class="intro-box">
      <div class="intro-row">
        <div class="intro-box-count">1.</div>
        <div class="intro-box-title"><span class="marker">胸重視</span></div>
      </div>
        <div class="intro-box-txt">
          月：胸＋腕（上腕三頭筋）<br>
          火：背中＋腕（上腕二頭筋）<br>
          水：休み<br>
          木：肩＋腕（上腕三頭筋）<br>
          金：脚＋腕（上腕二頭筋）<br>
          土：胸＋腕（上腕三頭筋）<br>
          日：休み
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="intro-box">
      <div class="intro-row">
        <div class="intro-box-count">2.</div>
        <div class="intro-box-title"><span class="marker">オススメ！</span></div>
      </div>
      月：胸＋ 肩(フロント）+ 腕（上腕三頭筋）<br>
      火：背中＋ 肩(リア）+ 腕（上腕二頭筋）<br>
      水：脚＋ 肩(サイド）<br>
      木：休み<br>
      金：胸＋ 肩(フロント）+ 腕（上腕三頭筋）<br>
      土：背中＋ 肩(リア）+ 腕（上腕二頭筋）<br>
      日：脚＋ 肩(サイド）<br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="intro-box">
      <div class="intro-row">
        <div class="intro-box-count">3.</div>
        <div class="intro-box-title"><span class="marker">肩重視</span></div>
      </div>
      月：胸+腹筋<br>
      火：肩＋腕（上腕三頭筋）<br>
      水：背中＋腕（上腕二頭筋)<br>
      木：休み<br>
      金：脚＋腕（上腕二頭筋）<br>
      土：肩＋腕（上腕三頭筋）<br>
      日：休み
    </div>
  </div>
  </section>
</div>