<div class="follow-show">
  <a href="<%= follows_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= user.followings.count %>
    </strong>
    フォロー数
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    フォロワー数
  </a>
</div>