<div class="container fluid">
	<div class="row justify-content-center">
		<% @users.each do |user| %>
		  <hr>
		  	<table class="table">
		      <tr>
		      <td>
		         <%= user.name %>
		      </td>
		      <td>
		         <%= link_to "マイページへ", user_path(user.id), class: "btn btn-light" %>
		      </td>
		    <td>
			</td>
			</tr>
			</table>
		<% end %>
	</div>
</div>