<div class="container-fluid about-box">
    <div class="row justify-content-center">
        <div class="about mt-5">
            <div class="about-text">
            <h2>MuscleDiaryとは</h2>
              <p>
                トレーニング内容やその日の体調や意気込みなどを日記のように記録し、公開できる<br>
                今までにない筋トレSNSサイトです。
              </p>
            </div>
        </div>
    </div>
    <section id="intro">
    <div class="container-fluid">
        <h2 class="intro-title pb-3">主な機能</h2>
        <div class="row pb-5">
            <div class="col-lg-6">
                <div class="intro-box">
                    <div class="intro-row">
                        <div class="intro-box-count">1.</div>
                        <div class="intro-box-title"><span class="marker">投稿</span></div>
                    </div>
                    <div class="intro-box-txt">筋トレに関して投稿でき、他のユーザーの投稿も閲覧できます。
                    また、投稿をタグ付けできるようにしています。</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-box">
                    <div class="intro-row">
                        <div class="intro-box-count">2.</div>
                        <div class="intro-box-title"><span class="marker">部位と種目</span></div>
                    </div>
                    <div class="intro-box-txt">
                    TODAY WORKOUTで、筋トレの部位を選び種目を追加できるので、どこの部位のどの種目を鍛えたか記録に残すことができます。</div>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-lg-6">
                <div class="intro-box">
                    <div class="intro-row">
                        <div class="intro-box-count">3.</div>
                        <div class="intro-box-title"><span class="marker">フォロー</span></div>
                    </div>
                    <div class="intro-box-txt">他のユーザーをフォローでき、「FRIEND WORKOUT」ページでフォローしているユーザーのみを一覧で表示するようにしています。
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-box">
                    <div class="intro-row">
                        <div class="intro-box-count">4.</div>
                        <div class="intro-box-title"><span class="marker">検索機能</span></div>
                    </div>
                    <div class="intro-box-txt">
                        ALL WORKOUTでユーザーとタグが検索できます。ページ上部に検索バーがあります。
                        投稿についているタグを押してもタグ検索できます！！
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
                <div class="intro-box">
                    <div class="intro-row">
                        <div class="intro-box-count">5.</div>
                        <div class="intro-box-title"><span class="marker">カレンダー</span></div>
                    </div>
                    <div class="intro-box-txt">MY PAGEにカレンダーが付いていて、自分が投稿した種目がカレンダーに記載されるので過去のトレーニング内容も確認できます。
                    </div>
                </div>
        </div>
    </div>
</div>