<div class="container-fluid about-box">
  <div class="row justify-content-center">
    <div class="about mt-5">
      <div class="about-text">
        <h2>My profile</h2>
        <p>
          最終学歴：高卒<br>
          卒業後、自衛隊に入隊、２年間の服役を終え、任期満了で退職<br>
          趣味は筋トレ、週六でジムに行ってます。<br>
          現在転職活動中です。
        </p>
      </div>
    </div>
  </div>
  <section id="intro">
    <h2 class="intro-title pb-3">私のBIG3(MAX)</h2>
    <div class="row pb-5">
      <div class="col-lg-4">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">ベンチプレス</div>
            <div class="intro-box-title"><span class="marker">120kg</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">デッドリフト</div>
            <div class="intro-box-title"><span class="marker">170kg</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">スクワット</div>
            <div class="intro-box-title"><span class="marker">180kg</span></div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="intro-title pb-3">好きな種目</h2>
    <div class="row pb-5">
      <div class="col-lg-6">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">胸</div>
            <div class="intro-box-title"><span class="marker">インクラインベンチ</span></div>
          </div>
            <div class="intro-box-txt">
              最近はインクラインベンチしかやっていません。胸上部必須です。
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">背中</div>
            <div class="intro-box-title"><span class="marker">ラットプルダウン</span></div>
          </div>
            <div class="intro-box-txt">
              背中の広がりを作る為にも必須の種目です。
            </div>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-lg-6">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">脚</div>
            <div class="intro-box-title"><span class="marker">スクワット</span></div>
          </div>
            <div class="intro-box-txt">
              王道にして最強です。5x5セットでやっています。
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="intro-box">
          <div class="intro-row">
            <div class="intro-box-count">肩</div>
            <div class="intro-box-title"><span class="marker">バーベルプレス</span></div>
          </div>
            <div class="intro-box-txt">
              スミスマシンで座ってプレスしています。
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="intro-box">
        <div class="intro-row">
          <div class="intro-box-count">腕</div>
          <div class="intro-box-title"><span class="marker">インクラインダンベルカール</span></div>
        </div>
          <div class="intro-box-txt">
            ストレッチが非常にかかるのでいい種目です。
          </div>
      </div>
    </div>
  </section>
</div>