<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>

<section id="top">
    <div class="top-title">
        <div class="wrap load-up">
            MuscleDiary
        </div>
    </div>
</section>
<section id="all">
<section id="main">
    <div class="main-text">
        <h1>Let's WORKOUT</h1>
    </div>
    <div class="main-btn">
        新規登録ですぐに使用できます
        <a class="btn-gradient-radius" href="/users/sign_up">いますぐ新規登録</a>
    </div>
</section>

<div class="previews">
    <div class="slider">
      <%= image_tag 'img-01.jpg' %>
      <%= image_tag 'img-02.jpg' %>
      <%= image_tag 'img-03.jpg' %>
    </div>
</div>
</section>
