<div class="main">
    <div class="wrap load-fade">
        <h3>ふわっとロード</h3>
        ロード時にフェードインさせるコンテンツ
    </div>
    <div class="wrap load-up">
        <h3>ふわっとロード</h3>
        ロード時にスクロールアップしてくるコンテンツ
    </div>
    <div class="wrap scroll-fade">
        <h3>ふわっとスクロール</h3>
        スクロールするとフェードインするコンテンツ
    </div>
    <div class="wrap scroll-up">
        <h3>ふわっとスクロール</h3>
        スクロールするとスクロールアップしてくるコンテンツ
    </div>
</div>