<% if @model == "user" %>
<div class="row  justify-content-center">
  <h2>ユーザ一覧</h2>
</div>
<div class="row  justify-content-center">
  <% @datas.each do |datas| %>
  <table class="table table-striped table-bordered">
   	<thead>
			<tr>
				<th></th>
				<th>ユーザー名</th>
			</tr>
		</thead>
   	<tbody>
	   	<tr>
		   	<td>
		    	<%= attachment_image_tag datas, :image, fallback: "no_image.jpg", size:'50x50', class: "img-circle pull-left profile-thumb" %>
		    </td>
	    	<td>
	    		<%= link_to datas.name, user_path(datas.id) %>
	    	</td>
	    </tr>
		</tbody>
	</table>
	<% end %>
</div>

<% elsif @model == "muscle"%>
<div class="row  justify-content-center">
  <h2>タグ一覧</h2>
</div>
<%= render 'muscles/muscle', muscles: @datas %>
<% else %>
<% end %>
