/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import " font-awesome ";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
color:#000;
text-decoration:underline;
}
.btn {
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
/* セル幅を自動調整 */
table, th, td {
  width: auto !important;
}
.notice {
	padding-top: 20px;
}
.form-row {
	justify-content: center;
}
input[type="text"] {
        width: 500px;
        height: 40px;
    }
input[type="password"] {
        width: 500px;
        height: 40px;
    }
input[type="email"] {
        width: 500px;
        height: 40px;
    }
.form-group {
	width: 100%;
}
.form-field {
	width: 100%;
	padding-left: 300px;
}
.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FF99FF 0%, #ff8b5f 100%);
    transition: .4s;
    font-size: 20px;
}
.navbar {
	font-style: italic;
	padding-top: 20px;
	padding-left: 50px;
}
.nav {
	width: 60%;
}
.nav-item {
	padding-top: 30px;
	padding-left: 10px;
	font-size: 20px;

}
/*topページ*/
#top {
  background: url(muscle.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fff;
}
#all {
	background-color: #EEEEEE;
}
#main {
	width: 100%;
	padding-top: 30px;
	text-align: center;
}
.top-title{
	padding-top: 50px;
	font-weight: bold;
	font-style: italic;
}
.head {
	display: flex;
	justify-content: flex-end;
	height: 50px;
}
.head > :first-child {
  margin-right: auto;
}
.intro-title {
	text-align: center;
	padding-top: 30px;
	font-weight: bold;
}
.intro-box-count {
	font-weight: bold;
	font-size: 30px;
}
.intro-box-title {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
}
.marker {
	background: linear-gradient(transparent 70%, #FF0461 70%);
}
.intro-box {
	box-shadow: 0 0 10px 10px #eceff1;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 20;
}
.intro-row {
	display: flex;
}
/*topページ終わり*/

/*muscle/newページのフォーム*/
.field {
	padding-top: 20px;
}
.field-set {
	margin-right: 30px;
	margin-top: 20px;
}
/*編集ページのボタン配置*/
.form-group-btn {
	display: flex;
	margin-left: 500px;
}
.user-follow {
	background-color: #33CCFF;
}
.img-circle {
	border-radius: 50%;
}
.border-bottom {
	background-color: #f5f5f5f5;
	border: solid 1px;
}
i {
	font-size: 30px;
}
.icon {
	margin-top: 10px;
	margin-left: 20px;
}
.scroll-fade{opacity: 0; transition: all 2s/*処理にかかる時間*/;}
.scroll-up{opacity: 0; transform: translateY(300px)/*スクロールアップする距離*/; transition: all 2s/*処理にかかる時間*/;}
.scroll-up.done, .scroll-fade.done{opacity : 1; transform : translate(0, 0);}
.load-fade {opacity : 0; transition : all 2s/*処理にかかる時間*/;}
.load-up{opacity: 0; transform: translateY(300px)/*スクロールアップする距離*/; transition: all 2s/*処理にかかる時間*/;}
.load-up.done, .load-fade.done{opacity : 1; transform : translate(0, 0);}